.auth__container {
    display: flex;
    height: 100vh;
}

.auth__logo {
    width: 75px;
    align-self: center;
}

.auth__form-container {
    margin-right: auto;
    width: 50%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 100%;
}

.auth__img-container {
    width: 50%;
}

.auth__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.auth__form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h1 {
    color: #333;
}

.form-control {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
}

.form-control:focus {
    border-color: #6c757d;
    box-shadow: none;
}

.invalid-feedback p {
    margin-bottom: 0;
}

.auth__form-input {
    height: 80px;
    display: flex;
    flex-direction: column;
    margin-bottom: 9px;
}


.auth__titulo, .auth__logo {
    margin: 0 0 15px 0;
}

.auth__subtitulo {
    margin-bottom: 25px;
}

.auth__create-account {
    text-align: right;
}

.auth__create-account span{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.auth__usuarios-precargados {
    position: absolute;
    bottom: 80px;
    left: 30px;
    z-index: 1000;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.auth__usuario-precargado {
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
    background-color: #FD8087;
    color: white;
}

.auth__usuario-precargado p {
    margin: 0;
    text-align: center;
}

.auth__usuario-precargado img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #ababb7;
    object-fit: cover;
}

.auth__usuarios-flecha {
    position: absolute;
    bottom: 25px;
    left: 30px;
    text-align: left;
    font-size: 40px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    color: #FD8087;
}

.auth__usuarios-flecha.rotated {
    transform: rotate(360deg);
}