.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stats-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.stats-button {
  width: 190px;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* .stats-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
} */

.button-image {
  width: 90%;
  margin-bottom: 10px;
}

.button-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  margin: 10px 0;
}

.button-message {
  font-size: 0.9rem;
  color: #777;
  margin: 0;
}
