<div class="container">
  @if (loading) 
  {
    <app-loader></app-loader>
  } 
  @else 
  {
    @if(user?.displayName == 'administrador')
    {
      <h1>Solicitar Turno</h1>
      <h2>Elija un paciente:</h2>
      <div class="especialistas-pacientes-container">
        @for (paciente of pacientes; track $index) {
          <div class="opcion" [appHighlightSelected]="paciente === pacienteSeleccionado" (click)="seleccionarPaciente(paciente)">
            <img
              [src]="paciente.imagenDePerfil"
              [alt]="'img_' + paciente.email"
            />
            <p>{{ paciente.nombre }} {{ paciente.apellido }}</p>
          </div>
        }
      </div>

      @if(pacienteSeleccionado)
      {
        <h2>Elija una especialidad:</h2>
        <div class="especialidades-container">
          @for (especialidad of especialidades; track $index) {
            <div class="opcion" [appHighlightSelected]="especialidad.tipo === especialidadSeleccionada" (click)="seleccionarEspecialidad(especialidad.tipo)">
              <img
                [src]="especialidad.imagen"
                [alt]="'img_' + especialidad.tipo"
              />
            </div>
          }
        </div>
      }
    }
    @else 
    { 
      <h1>Solicitar Turno</h1>
      <h2>Elija una especialidad:</h2>
      <div class="especialidades-container">
        @for (especialidad of especialidades; track $index) {
          <div class="opcion" [appHighlightSelected]="especialidad.tipo === especialidadSeleccionada" (click)="seleccionarEspecialidad(especialidad.tipo)">
            <img
              [src]="especialidad.imagen"
              [alt]="'img_' + especialidad.tipo"
            />
          </div>
        }
      </div>
    }
    @if(especialidadSeleccionada !== '') 
    { 
      <h2>Elija un especialista:</h2>
      <div class="especialistas-pacientes-container">
        @for(especialista of especialistasEspecialidad; track $index) {
          <div class="opcion" [appHighlightSelected]="especialista === especialistaSeleccionado" (click)="seleccionarEspecialista(especialista)" >
            <img
              [src]="especialista.imagenDePerfil"
              [alt]="'img_' + especialista.email"
            />
            <p>{{ especialista.nombre }} {{ especialista.apellido }}</p>
          </div>
        }
        @empty {
          <p style="margin: 0;">No hay especialistas</p>
        } 
      </div>
    } 

    @if(especialistaSeleccionado)
    {
      <h2>Elija una fecha y horario: </h2>
      <div class="horarios-container">
        @for (dia of diasDisponibles; track $index) 
        {
            @for(turno of dia.turnos; track $index)
            {
              <div class="horario" [appHighlightSelected]="turno === turnoSeleccionado" (click)="seleccionarTurno(turno)">
                {{ turno.hora | date: 'dd/MM - HH:mm' }}
              </div>
            }
        }
      </div>
      @if(turnoSeleccionado)
      {
        <div class="horarios-container" style="width: 100%;">
          <button type="button" class="btn btn-dark mt-2 w-100" (click)="solicitarTurno()">Solicitar turno</button>
        </div>
      }
    }
  }
</div>
