.main-title {
    font-size: 2em;
    margin: 0;
}

.main-color {
    color: #084887;
}

.main-background-color, .btn-generar {
    background-color: #084887;
}

.btn-generar:hover{
    background-color: #5894d5;
}

.lds-ring {
    display: flex;
    margin-bottom: 38px;
    justify-content: center;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

.modal-content {
    border-radius: 10px;
    overflow: hidden;
}

.modal-header {
    border-bottom: none;
}

.card {
    border: none;
}

.card-header {
    padding: 20px;
}

.card-body {
    padding: 20px;
    background-color: #f8f9fa;
}

.modal-footer {
    border-top: none;
}
