<header class="header">
    <nav class="navbar navbar-light">
        <a class="navbar-brand all-nav-link" routerLink="/welcome-page" routerLinkActive="active">
            <img src="banners/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top" />
            ClínicaOnline - IvanVidelaR
        </a>
        <ul id="navbar-nav" class="navbar-nav mb mb-lg-0 d-flex align-items-center">
            @if(user)
            {
                @if(user.displayName == 'administrador')
                {
                    <li class="nav-item">
                        <a class="nav-link all-nav-link" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link all-nav-link" routerLink="/turnos" routerLinkActive="active">Turnos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link all-nav-link" routerLink="/solicitar-turno" routerLinkActive="active">Solicitar turno</a>
                    </li>
                }
                @else {
                    <li class="nav-item">
                        <a class="nav-link all-nav-link" routerLink="/mis-turnos" routerLinkActive="active">Mis turnos</a>
                    </li>
                }   
                @if(user.displayName == 'paciente')
                {
                    <li class="nav-item">
                        <a class="nav-link all-nav-link" routerLink="/solicitar-turno" routerLinkActive="active">Solicitar turno</a>
                    </li>
                }
                @else if(user.displayName == 'especialista')
                {
                    <li class="nav-item">
                        <a class="nav-link all-nav-link" routerLink="/mis-pacientes" routerLinkActive="active">Mis pacientes</a>
                    </li>
                }
                
                <app-dropdown-menu [user]="user"></app-dropdown-menu>
                
            }
            @else 
            {
                <li class="nav-item">
                    <a class="nav-link all-nav-link" routerLink="/sign-up/eleccion-perfil" routerLinkActive="active">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link last-nav-link" routerLink="/auth" routerLinkActive="active">Log in</a>
                </li>
            }
            
        </ul>
    </nav>
</header>

