.secondary-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    flex: 1;
}