.secondary-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    max-width: 100%;
}

.main-content {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    flex: 1;
}