<div class="auth__container">
    <div class="auth__form-container">
        <form class="auth__form" [formGroup]="form" (submit)="onSubmit()">
            <img class="auth__logo" src="banners/logo.png" alt="logo_clinica">
            <h1 class="auth__titulo display-5 h3 fw-normal text-center">¡Bienvenido a Clínica Online!</h1>
            <h2 class="auth__subtitulo text-center">Cree una cuenta</h2>

            <!-- Input Nombre -->
            <div class="auth__form-input form-floating position-relative">
                <input type="text" class="form-control" id="floatingName" 
                placeholder="name"
                    [formControl]="form.controls.nombre"
                    [ngClass]="{ 'is-invalid': form.controls.nombre.invalid && form.controls.nombre.touched }">
                <label for="floatingName">Nombre</label>
                <!-- <i class="fas fa-envelope"></i> -->
                <div class="invalid-feedback">
                    @if (form.controls.nombre.invalid && form.controls.nombre.touched) {
                        <p>
                            <span>El nombre es requerido.</span>
                        </p>
                    }
                </div>
            </div>

            <!-- Input Apellido -->
            <div class="auth__form-input form-floating position-relative">
                <input type="text" class="form-control" id="floatingApellido" 
                placeholder="name"
                    [formControl]="form.controls.apellido"
                    [ngClass]="{ 'is-invalid': form.controls.apellido.invalid && form.controls.apellido.touched }">
                <label for="floatingApellido">Apellido</label>
                <!-- <i class="fas fa-envelope"></i> -->
                <div class="invalid-feedback">
                    @if (form.controls.apellido.invalid && form.controls.apellido.touched) {
                        <p>
                            <span>El apellido es requerido.</span>
                        </p>
                    }
                </div>
            </div>

            <!-- Input Edad -->
            <div class="auth__form-input form-floating position-relative">
                <input type="number" class="form-control" id="floatingEdad" 
                placeholder="name"
                    [formControl]="form.controls.edad"
                    [ngClass]="{ 'is-invalid': form.controls.edad.invalid && form.controls.edad.touched }">
                <label for="floatingEdad">Edad</label>
                <!-- <i class="fas fa-envelope"></i> -->
                <div class="invalid-feedback">
                    @if (form.controls.edad.invalid && form.controls.edad.touched) {
                        @if (form.controls.edad.hasError('required')) {
                            <span>La edad es requerida.</span>
                        }
                        @else if (form.controls.edad.hasError('min')) {
                            <span>La edad debe ser de al menos 1.</span>
                        }
                        @else if (form.controls.edad.hasError('max')) {
                            <span>La edad no puede ser mayor de 120.</span>
                        }
                    }
                </div>
            </div>

            <!-- Input DNI -->
            <div class="auth__form-input form-floating position-relative">
                <input type="number" class="form-control" id="floatingDNI" 
                placeholder="name"
                    [formControl]="form.controls.dni"
                    [ngClass]="{ 'is-invalid': form.controls.dni.invalid && form.controls.dni.touched }">
                <label for="floatingDNI">DNI</label>
                <!-- <i class="fas fa-envelope"></i> -->
                <div class="invalid-feedback">
                    @if (form.controls.dni.invalid && form.controls.dni.touched) {
                        @if (form.controls.edad.hasError('required')) {
                            <span>El DNI es requerido.</span>
                        }
                        @else if (form.controls.dni.hasError('min')) {
                            <span>El DNI debe ser de al menos 10.000.000.</span>
                        }
                        @else if (form.controls.dni.hasError('max')) {
                            <span>El DNI no puede ser mayor de 100.000.000.</span>
                        }
                    }
                </div>
            </div>
            
            <!-- Input Correo -->
            <div class="auth__form-input form-floating position-relative">
                <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com"
                    [formControl]="form.controls.email"
                    [ngClass]="{ 'is-invalid': form.controls.email.invalid && form.controls.email.touched }">
                <label for="floatingEmail">Correo</label>
                <!-- <i class="fas fa-envelope"></i> -->
                <div class="invalid-feedback">
                    @if (form.controls.email.invalid && form.controls.email.touched) {
                        <p>
                            @if (form.controls.email.hasError('required')) {
                                <span>El correo es requerido.</span>
                            }
                            @else if (form.controls.email.hasError('email')) {
                                <span>El correo debe tener un formato correcto.</span>
                            }
                        </p>
                    }
                </div>
            </div>

            <!-- Input Contraseña -->
            <div class="auth__form-input form-floating position-relative">
                <input [formControl]="form.controls.password" [type]="showPassword ? 'text' : 'password'" 
                    class="form-control" id="floatingPassword" placeholder="Password" 
                    [ngClass]="{ 'is-invalid': form.controls.password.invalid && form.controls.password.touched }">
                <label for="floatingPassword">Contraseña</label>
                <!-- <i class="fas fa-lock"></i> -->
                
                
                @if(!form.controls.password.invalid)
                {
                    <i (click)="togglePasswordVisibility()" 
                        class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" 
                        style="right: 10px; top: 50%; transform: translateY(-100%); cursor: pointer; position: absolute;"></i>
                }
                

                <div class="invalid-feedback">
                    @if (form.controls.password.invalid && form.controls.password.touched) {
                        <p>
                            @if (form.controls.password.hasError('required')) {
                                <span>La contraseña es requerida.</span>
                            }
                            @else if (form.controls.password.hasError('minlength')) {
                                <span>La contraseña debe tener al menos 6 caracteres.</span>
                            }
                        </p>
                    }
                </div>
            </div>
            
            <!-- Input Imagen Perfil -->
            <div class="auth__form-input form-floating position-relative">
                <input type="file" class="form-control" id="floatingImagenDePerfil" 
                placeholder="name" (change)="profileImage = $event"
                    [formControl]="form.controls.imagenDePerfil"
                    [ngClass]="{ 'is-invalid': form.controls.imagenDePerfil.invalid && form.controls.imagenDePerfil.touched }">
                <label for="floatingImagenDePerfil">Imagen de perfil</label>
                <!-- <i class="fas fa-envelope"></i> -->
                <div class="invalid-feedback">
                    @if (form.controls.imagenDePerfil.invalid && form.controls.imagenDePerfil.touched) {
                        <p>
                            <span>La imagen de perfil es requerida.</span>
                        </p>
                    }
                </div>
            </div>

            @if(perfil == 'especialista')
            {
                <div class="auth__form-select position-relative">
                    <select class="form-control" id="floatingEspecialidad" multiple
                        [ngClass]="{ 'is-invalid': form.controls.especialidad.invalid && form.controls.especialidad.touched }"
                        (change)="onSpecialtyChange($event)">
                        <option value="" disabled>Seleccione una o más especialidades</option>
                        @for (especialidad of especialidades; track $index) 
                        {
                            <option [value]="especialidad">{{ especialidad }}</option>
                        }
                    </select>
                    <div class="invalid-feedback"> 
                        @if (form.controls.especialidad.invalid && form.controls.especialidad.touched) {
                            <p>
                                <span>La especialidad es requerida.</span>
                            </p>
                        }
                    </div>
                </div>

                <div class="form-floating position-relative d-flex flex-row mb-4">
                    <input type="text" class="form-control" id="floatingOtraEspecialidad" 
                    placeholder="name"
                        [formControl]="form.controls.otraEspecialidad"
                        [ngClass]="{ 'is-invalid': form.controls.otraEspecialidad.invalid && form.controls.otraEspecialidad.touched }">
                    <label for="floatingOtraEspecialidad">Otra especialidad</label>
                    <button type="button" (click)="addSpecialty()" class="btn btn-dark">Agregar</button>
                </div>
            }
            @else if (perfil == 'paciente') 
            {
                <!-- Input Imagen Perfil -->
                <div class="auth__form-input form-floating position-relative">
                    <input type="file" class="form-control" id="floatingSegundaImagenDePerfil" 
                    placeholder="name" (change)="secondProfileImage = $event"
                        [formControl]="form.controls.segundaImagenDePerfil"
                        [ngClass]="{ 'is-invalid': form.controls.segundaImagenDePerfil.invalid && form.controls.segundaImagenDePerfil.touched }">
                    <label for="floatingSegundaImagenDePerfil">Segunda imagen de perfil</label>
                    <!-- <i class="fas fa-envelope"></i> -->
                    <div class="invalid-feedback">
                        @if (form.controls.segundaImagenDePerfil.invalid && form.controls.segundaImagenDePerfil.touched) {
                            <p>
                                <span>La segunda imagen de perfil es requerida.</span>
                            </p>
                        }
                    </div>
                </div>

                <div class="auth__form-input form-floating position-relative">
                    <input type="text" class="form-control" id="floatingObraSocial" 
                    placeholder="name"
                        [formControl]="form.controls.obraSocial"
                        [ngClass]="{ 'is-invalid': form.controls.obraSocial.invalid && form.controls.obraSocial.touched }">
                    <label for="floatingObraSocial">Obra social</label>
                    <!-- <i class="fas fa-envelope"></i> -->
                    <div class="invalid-feedback">
                        @if (form.controls.obraSocial.invalid && form.controls.obraSocial.touched) {
                            <p>
                                <span>La obra social es requerida.</span>
                            </p>
                        }
                    </div>
                </div>
            }
            
            <div class="recaptcha-container">
                <re-captcha
                    siteKey="6Lds93cqAAAAAOwKxzQbvh2TrQPNtFannp6WJTH3"
                    formControlName="recaptchaReactive">
                </re-captcha>
                <div>
                    @if (form.controls.recaptchaReactive.invalid && form.controls.recaptchaReactive.touched) {
                        <p>
                            <span class="text-danger small">El reCAPTCHA es requerido.</span>
                        </p>
                    }
                </div>
            </div>

            <!-- Botón de Iniciar Sesión -->
            <p class="auth__create-account">¿Ya tienes una cuenta? <span routerLink="/auth">Iniciar Sesión</span></p>
            <button class="w-100 btn btn-lg btn-dark mt-3" type="submit">Crear Cuenta</button >
            <p class="mt-4 mb-3 text-muted text-center">&copy; IvanVidelaR 2024</p>
        </form>
    </div>

    <div class="auth__img-container">
        <img class="auth__img" src="banners/banner-clinica.jpg" alt="Imagen Clínica">
    </div>
</div>
