.welcome-page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    padding: 20px 40px;
    margin: 0 auto;
    max-width: 715px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    flex: 1;

}

.main-img-container {
    text-align: center;
}

.main-img {
    width: 100%;
}

.main-title {
    font-size: 3em;
    margin: 0;
}

.main-subtitle {
    font-size: 1.3em;
}
